---
layout: archive
title: "Service and Memberships"
permalink: /service/
author_profile: true
---

{% include base_path %}

I take great joy in pride in being an active and engaged community member in
both my academic departments and local communities. Within my department, I am extremely
excited about opportunities for ongoing education and sharing knowledge to build
a graduate student community. I have given talks in <b>Methods and Metascience</b>, organized
<b>Data Science workshops</b>, and started (and run) a new <b>Social Robotics Journal Club</b>.
With my strong beliefs in transparency and continuous improvement, I liase with staff as a <b>Student
Representative</b> for my program.
<br>
<br>
Within the greater community I am especially interested in <b>STEAM education for children.</b>
I volunteer with STEM Ambassadors working with primary school children in coding fundamentals,
where I focus not only on skill building, but on engineering as a collaborate,
failure-driven, iterative process. You can find all of my STEM educational lessons <a href="https://github.com/csaund/STEM-activities">
on my github</a>.
<br>
<br>
Because I am also a Good Young Liberal, I am also an <b>Ultimate Frisbee coach</b> for
secondary school children.
<br><br>
A more complete list of my adaemic and community service activities is below.

{% for post in site.education reversed %}
    {% include archive-single.html %}
{% endfor %}
