---
layout: archive
title: "Talks & Events"
permalink: /talks/
author_profile: true
---

<!--<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>-->
I try to speak across disciplines and to non-academic communities as often as possible.
Science myths, especially in topics as hot as robotics and AI, ought to be dispelled as
approachably and easily as possible. I try to bring my research to life at comedy
festivals, nerd gatherings, theatric productions, and, occasionally, Very Serious
Scientific Venues.


{% for post in site.skills reversed %}
  {% include archive-single.html %}
{% endfor %}
